*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*
body{
    /*background-image: linear-gradient(to bottom, orange 0%, rgb(255, 55, 0) 100%);
}*/
/*
header{
   width: 100%;
   height: 300px;
   background-color: aqua;
}*/
.menu{
    position: fixed;
    display: flex;
    width: 100%;
    height: 12%;
    background-color: #17252A;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}
.titulo1{
    height: 150px;
    margin: 0 0 40px 0;
    
}
.logo{
    margin: 10px 0 10px 30px;
    width: 200px;
    height: auto;
}
nav a{
    color:#FFEADB;
    font-size: 20px;
    padding: 0 15px 0 15px;
    text-decoration: none;
    transition: all 0.5s ease;
}
nav a:hover{
    padding: 5px 10px;
    background: #679B9B;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}
section{
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    /*text-align: center;*/
    align-items: center;
}
/*
.texto1{
    width: 500px;
    height: 600px;
}
*/
.nosotros
{
    display: flex;
}
.contenedorSection2{
    text-align: center;

}
/*
.texto3{
    width: 500px;
}
.texto4{
    width: 500px;
}*/
section h2{
    color: black;
    font-size: 90px;
    font-weight: 500px;
    margin-bottom: 10px; 
}
section h3{
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 10px;
}
section p{
    font-size: 20px;
    margin-bottom: 20px;
    width: 600px;
}
#texto1{
    font-size: 50px;
    width: 700px;
}

section a{
    font-size: 20px;
    display: inline-block;
    padding: 5px;
    margin: 10px 5px 0 0;
    color: rgb(28 37 73);
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 45px;
    background-color: #fff;
    transition: all 0.5s ease;
}
section a:hover{
    padding: 5px;
    background: blue;
    color: white;
    border: blue;
    border-radius: 70px;
}
#section1{
    flex-direction: row-reverse;
    text-align: center;
}

#section3{
    flex-direction: row;
    -ms-flex-align: center;
    text-align: left;
}
section:nth-child(2){
    background-color: #507991;
}
section:nth-child(3){
    background-color: #50396b;
}
section:nth-child(4){
    background-color: #c0a52e;

}
section:nth-child(5){
    background-color: #27833b;

}
#articulo {
    display: flex;
  }

#articulo1 {
    flex-direction: row-reverse;
    text-align: center;
}




.footer{
text-align: center;


}